.panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navPanel {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 70%;
}

.nav {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 20%;
}

.main {
  display: inline;
  width: 80%;
  float: right;
}

a.panel img:hover {
  border: 2px solid white;
}
