.panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 70%;
}

.message {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.msgContent {
  font-family: "Futura";
  font-size: 40px;
  text-align: center;
  width: 70%;
}

.nav {
  background-color: grey;
  padding: 30px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  overflow: auto;
  height: 95vh;
  overflow: auto;
}

.main {
  display: inline;
  width: 80%;
  float: right;
}

a.navPanel img:hover {
  width: 80%;
}
